<div class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col-sm text-left mt-3">
        <p class="h5">{{ site.title | escape }}</p>
        <p>{{- site.description | escape -}}</p>
      </div>

      <div class="col-sm text-right mt-3">
        <ul class="list-unstyled">
          <li>
            {%- if site.author -%}
              {{ site.contact | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
          </li>
          {%- if site.email -%}
            <li>
              <a href="mailto:{{ site.email }}">
                {{ site.email }}
              </a>
            </li>
          {%- endif -%}
        </ul>
      </div>

    </div>
  </div>
</div>
