<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#">
      {%- if page.title -%}
        {{ page.title | escape }}
      {%- else -%}
        Varbergs popcornsmaskin
      {%- endif -%}
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    {% assign current = page.url | downcase | split: '/' %}

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li {% if current[1] == null %}class="nav-item active"{% else %}class="nav-item"{% endif %}>
          <a class="nav-link" href="{{ '/' | relative_url }}" >Hem</a>
        </li>
        <li {% if current[1] == 'behov.html' %}class="nav-item active"{% else %}class="nav-item"{% endif %}>
          <a class="nav-link" href="{{ '/behov' | relative_url }}" >Behov</a>
        </li>
        <li {% if current[1] == 'behovstavlan.html' %}class="nav-item active"{% else %}class="nav-item"{% endif %}>
          <a class="nav-link" href="{{ '/behovstavlan' | relative_url }}" >Behovstavlan</a>
        </li>
        <li {% if current[1] == 'losning.html' %}class="nav-item active"{% else %}class="nav-item"{% endif %}>
          <a class="nav-link" href="{{ '#' | relative_url }}" >Lösning</a>
        </li>
        <li {% if current[1] == 'test.html' %}class="nav-item active"{% else %}class="nav-item"{% endif %}>
          <a class="nav-link" href="{{ '/test' | relative_url }}" >Test</a>
        </li>
        <li {% if current[1] == 'about.html' %}class="nav-item active"{% else %}class="nav-item"{% endif %}>
          <a class="nav-link" href="{{ '/about' | relative_url }}" >Projektbeskrivning</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
