<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  <head>

    {%- include head.html -%}

  </head>

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <div class="container">
          {% if page.sammanfattning %}
            <div class="row">
              <div class="col-md-8">
                {{ content }}
              </div>
              <div class="col-md-4">
                <div class="card bg-secondary">
                  {{ page.sammanfattning }}
                </div>
              </div>
            </div>
          {% else %}
            {{ content }}
          {% endif %}

        </div>
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
